/** Styles Applied to App **/

:root {
  --primary-light-color: #6ea0d3;
  --white-color: #fff;
  --dark-color: #333;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --accent-color: #ffc107;
}
